[Desktop Entry]
Name=Rex Code
Comment=AI Agent Coding
Exec=RexCode
Icon=RexCode-Graphite-512
Terminal=false
Type=Application
Categories=Development;IDE;Utility;
StartupWMClass=RexCode
